


<div class="container">
    <div class="row">
        <div class="col s12">
                <p *ngIf="isLead" class="">Дополнительные продажи {{addSaleCount}}</p>
            <h4 class="h4-title">Новый Лид</h4>
        </div>
    </div>
    
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="col s12">
    <div class="row">
            <div class=" col s12 m6 l6">
                <div>LeadOrTask</div>
                <div class="flex-block">
                        <mz-radio-button-container>
                                <input mz-radio-button

                                formControlName="is_lead"
                                  [label]="'Лид'"
                                  id="is_lead-1"
                                  name="is_lead"
                                  checked="checked"
                        
                                
                                  [value]="true"
                                  type="radio">
                              </mz-radio-button-container>
                            
                              <mz-radio-button-container>
                                <input mz-radio-button
                                formControlName="is_lead"
                                  [label]="'Задача'"
                                  id="is_lead-2"
                                  name="is_lead"
                                
                                  [value]="false"
                                  type="radio">
                              </mz-radio-button-container>


                
                </div>
            </div>
    </div>

    <div class="row">

            <div formGroupName="linkPhone" class="row">
                <div class="col s12 m12 l6">
                    <mz-input-container>
                        <input 
                            mz-input
                            formControlName="link" 
                            [label]="'Ссылка'"
                            id="link-input"
                            [validate]="false"
                            type="text" 
                            [ngClass]="{'invalid': f.linkPhone.get('link').hasError('mustMatch')}"
                            [dataError]="f.linkPhone.get('link').hasError('mustMatch') ? 'Ссилка или телефон' : ''"

                        >
                    
                    </mz-input-container>    
                </div>
                <div class="col s12 m12 l6">
                    <mz-input-container>
                        <input 
                            mz-input
                            formControlName="phone"
                            [validate]="false"
                            [label]="'Телефон'"
                            id="phone-input"  
                            type="text" 
                            [ngClass]="{'invalid': f.linkPhone.get('phone').hasError('mustMatch')}"
                            [dataError]="f.linkPhone.get('phone').hasError('mustMatch') ? 'Ссилка или телефон' : ''"
                            
                        >
                </mz-input-container>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m12 l6">
                    <mz-select-container>
                    <select 
                        mz-select 
                        formControlName="unit_id" 
                    >
                            <option value=""  selected>Подразделения</option>
                            <option *ngFor="let unit of units" [value]="unit.id" >{{unit.name}}</option>
                    </select>
                    <div class="invalid_custom" *ngIf="f.unit_id.errors  && f.unit_id.errors.required && f.unit_id.touched">Обязательно к заполнению</div>
                    </mz-select-container>
                </div>
                <div class="input-field col s12 m12 l6">
                    <mz-select-container>
                    <select 
                        mz-select  
                        formControlName="source_id"
                    
                         >
                            <option value=""  selected>Источник</option>
                            <option *ngFor="let source of sources" [value]="source.id" >{{source.title}}</option>
                    </select>
                    <div class="invalid_custom" *ngIf="f.source_id.errors  && f.source_id.errors.required && f.source_id.touched">Обязательно к заполнению</div>
                    
                    </mz-select-container>
                </div>
            </div>
            
            <div *ngIf="isLead;else isTask" class="">
                <div class="col s12 m4 l4">
                    <div>Заказ оформлен?</div>
                    <div class="flex-block">                               
                    
                            <mz-radio-button-container>
                                    <input mz-radio-button
                                      [label]="'Нет'"
                                      id="is_processed-1"
                                      name="is_processed"
                                      checked="checked"
                                      formControlName="is_processed"
                                      checked="checked"
                                      value="0"
                                      type="radio">
                                  </mz-radio-button-container>
                                
                                  <mz-radio-button-container>
                                    <input mz-radio-button
                                      [label]="'Да'"
                                      id="is_processed-2"
                                      name="is_processed"
                                      formControlName="is_processed"
                                      
                                      value="1"
                                      type="radio">
                                  </mz-radio-button-container>

                                                      
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div>Доп. продажа?</div>
                    <div class="flex-block">

                            <mz-radio-button-container>
                                    <input mz-radio-button
                                      [label]="'Нет'"
                                      id="is_add_sale-1"
                                      name="is_add_sale"
                                      checked="checked"
                                      formControlName="is_add_sale"
                                      checked="checked"
                                      value="0"
                                      type="radio">
                                  </mz-radio-button-container>
                                
                                  <mz-radio-button-container>
                                    <input mz-radio-button
                                      [label]="'Да'"
                                      id="is_add_sale-2"
                                      name="is_add_sale"
                                      formControlName="is_add_sale"
                                      value="1"
                                      type="radio">
                                  </mz-radio-button-container>
                    </div>
                </div>
                <div class=" col s12 m4 l4">
                    <div>Курьерская доставка?</div>
                    <div class="flex-block">


                            <mz-radio-button-container>
                                    <input mz-radio-button
                                      [label]="'Нет'"
                                      id="is_express_delivery-1"
                                      name="is_express_delivery"
                                      checked="checked"
                                      formControlName="is_express_delivery"
                                      checked="checked"
                                      value="0"
                                      type="radio">
                                  </mz-radio-button-container>
                                
                                  <mz-radio-button-container>
                                    <input mz-radio-button
                                      [label]="'Да'"
                                      id="is_express_delivery-2"
                                      name="is_express_delivery"
                                      formControlName="is_express_delivery"
                                      value="1"
                                      type="radio">
                                  </mz-radio-button-container>

                    
                    </div>
                </div>
            </div>
            <ng-template class="row" #isTask>
                <div class="input-field col s12 m12 l6">
                <mz-select-container>
                    <select mz-select formControlName="responsible_id" >
                        <option value="" selected>newLeadChoose</option>
                        <option *ngFor="let user of users" [value]="user.id" >{{user.firstname}}</option>
                    </select>
                </mz-select-container>

                <label>newLeadUser</label>
                </div>
            </ng-template>
            <div class="row">
                <div class="input-field col s12">
                    <textarea formControlName="text" id="text"  class="materialize-textarea"></textarea>
                    <label for="text">Комментарий</label>
                </div>
            </div>
            <button  [disabled]="form.invalid" class="btn waves-effect waves-light" type="submit" name="action">Сохранить
                <i class="material-icons right">send</i>
            </button>
            <div class="row">
                <div class="col s12">
                    <ul>
                        <li class="red-text darken-4">
                            
                        </li>
                    </ul>
                </div>
            </div>

        
    </div>
</form>
  </div>
