<mz-modal 
  bottomSheet="true"
  #bottomSources>
  <mz-modal-header>
    
  </mz-modal-header>
  <mz-modal-content>
    <div class="modal-content center">            
      <div class="container">
          <div class="row">
              <div class="col s12">
                  <h4 class="h4-title">Лид был успешным?</h4>
              </div>
              <div class="col s12 m6 l6">

                  <button class="ng-tns-c13-3 btn waves-effect waves-light" (click)="addQuality()"  mz-button  >Да</button>
              </div>
              <div class="col s12 m6 l6">
                  <button class="red btn waves-effect waves-light"  mz-button  mz-modal-close>Нет</button>
              </div>
          </div>
      </div>
  </div>
  </mz-modal-content>
  <mz-modal-footer>
  </mz-modal-footer>
</mz-modal>

