<mz-modal #bottomSources>
  <mz-modal-header>
    
  </mz-modal-header>
  <mz-modal-content>
      <div class="row">
            <div class="row">
                <div class="col s12">
                    <h4 class="h4-title">
                        <a
                            [href]="lead.link ? lead.link : 'tel:lead.phone'"
                            [target]=" lead.link ? '_blank' : ''"
                        >{{lead.link ? lead.link : lead.phone}}
                        </a>
                    </h4>
                    <p>Дата создания: {{lead.created_at_o}}</p>
                    <div class="flex-block content-between">
                        <div>
                            <span class="lead__source-icon"></span>
                            <span class="lead__source-title">{{lead.source_title}}</span>
                        </div>
                        <div
                            class="lead__unit-title"
                        >{{ lead.unit_title }}
                        </div>
                    </div>

                    <div class="flex-block content-between">
                        <p><strong>Оформлен:</strong> {{lead.is_processed ? 'Да' : 'Нет'}}</p>
                        <p><strong>Доп. продажа:</strong> {{lead.is_add_sale ? 'Да' : 'Нет'}}
                        </p>
                        <p><strong>Курьерская доставка: </strong> {{lead.is_express_delivery ? 'Да' : 'Нет'}}</p>
                        <p><strong>Статус:</strong> {{lead.status}}</p>
                        <p><strong>Автор:</strong> {{lead.author}}</p>
                    </div>


                </div>
            </div>
      </div>
      <div class="row">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="col s12">
                <div class="input-field">
                    <select ref="status_id" v-model="status_id" name="status_id" class="no-autoinit">
                        <option value="" disabled selected>newLeadChoose</option>
                        <option *ngFor="let status of statuses" [value]="status.id" >
                            {{status.title_ru}}
                        </option>
                    </select>
                    <label>leadHistoryStatus</label>
                </div>

                <div class="input-field" v-if="change_authors">
                        <mz-select-container>
                            <select mz-select formControlName="responsible_id" >
                                <option value="" selected>newLeadChoose</option>
                                <option *ngFor="let user of users" [value]="user.id" >{{user.firstname}}</option>
                            </select>
                        </mz-select-container>
        
                        <label>newLeadUser</label>
                </div>

                <div class="input-field">
                        <textarea formControlName="text" id="text"  class="materialize-textarea"></textarea>
                        <label for="text">Комментарий</label>
                </div>
                <button  [disabled]="form.invalid" class="btn waves-effect waves-light" type="submit" name="action">Сохранить
                        <i class="material-icons right">send</i>
                </button>
            </form>
        </div>    
        
        
        
        
        
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="col s12">
              <div class="row">
          
                      <div formGroupName="linkPhone" class="row">
                          <div class="col s12 m12 l6">
                              <mz-input-container>
                                  <input 
                                      mz-input
                                      formControlName="link" 
                                      [label]="'Ссылка'"
                                      id="link-input"
                                      [validate]="false"
                                      type="text" 
                                      [ngClass]="{'invalid': f.linkPhone.get('link').hasError('mustMatch')}"
                                      [dataError]="f.linkPhone.get('link').hasError('mustMatch') ? 'Ссилка или телефон' : ''"
          
                                  >
                              
                              </mz-input-container>    
                          </div>
                          <div class="col s12 m12 l6">
                              <mz-input-container>
                                  <input 
                                      mz-input
                                      formControlName="phone"
                                      [validate]="false"
                                      [label]="'Телефон'"
                                      id="phone-input"  
                                      type="text" 
                                      [ngClass]="{'invalid': f.linkPhone.get('phone').hasError('mustMatch')}"
                                      [dataError]="f.linkPhone.get('phone').hasError('mustMatch') ? 'Ссилка или телефон' : ''"
                                      
                                  >
                          </mz-input-container>
                          </div>
                      </div>
                      <div class="row">
                          <div class="input-field col s12 m12 l6">
                              <mz-select-container>
                              <select 
                                  mz-select 
                                  formControlName="unit_id" 
                              >
                                      <option value=""  selected>Подразделения</option>
                                      <option *ngFor="let unit of units" [value]="unit.id" >{{unit.name}}</option>
                              </select>
                              <div class="invalid_custom" *ngIf="f.unit_id.errors  && f.unit_id.errors.required && f.unit_id.touched">Обязательно к заполнению</div>
                              </mz-select-container>
                          </div>
                          <div class="input-field col s12 m12 l6">
                              <mz-select-container>
                              <select 
                                  mz-select  
                                  formControlName="source_id"
                              
                                   >
                                      <option value=""  selected>Источник</option>
                                      <option *ngFor="let source of sources" [value]="source.id" >{{source.title}}</option>
                              </select>
                              <div class="invalid_custom" *ngIf="f.source_id.errors  && f.source_id.errors.required && f.source_id.touched">Обязательно к заполнению</div>
                              
                              </mz-select-container>
                          </div>
                      </div>
                      
                      <div  class="">
                          <div class="col s12 m4 l4">
                              <div>Заказ оформлен?</div>
                              <div class="flex-block">                               
                              
                                      <mz-radio-button-container>
                                              <input mz-radio-button
                                                [label]="'Нет'"
                                                id="is_processed-1"
                                                name="is_processed"
                                                checked="checked"
                                                formControlName="is_processed"
                                                checked="checked"
                                                value="0"
                                                type="radio">
                                            </mz-radio-button-container>
                                          
                                            <mz-radio-button-container>
                                              <input mz-radio-button
                                                [label]="'Да'"
                                                id="is_processed-2"
                                                name="is_processed"
                                                formControlName="is_processed"
                                                
                                                value="1"
                                                type="radio">
                                            </mz-radio-button-container>
          
                                                                
                              </div>
                          </div>
                          <div class="col s12 m4 l4">
                              <div>Доп. продажа?</div>
                              <div class="flex-block">
          
                                      <mz-radio-button-container>
                                              <input mz-radio-button
                                                [label]="'Нет'"
                                                id="is_add_sale-1"
                                                name="is_add_sale"
                                                checked="checked"
                                                formControlName="is_add_sale"
                                                checked="checked"
                                                value="0"
                                                type="radio">
                                            </mz-radio-button-container>
                                          
                                            <mz-radio-button-container>
                                              <input mz-radio-button
                                                [label]="'Да'"
                                                id="is_add_sale-2"
                                                name="is_add_sale"
                                                formControlName="is_add_sale"
                                                value="1"
                                                type="radio">
                                            </mz-radio-button-container>
                              </div>
                          </div>
                          <div class=" col s12 m4 l4">
                              <div>Курьерская доставка?</div>
                              <div class="flex-block">
          
          
                                      <mz-radio-button-container>
                                              <input mz-radio-button
                                                [label]="'Нет'"
                                                id="is_express_delivery-1"
                                                name="is_express_delivery"
                                                checked="checked"
                                                formControlName="is_express_delivery"
                                                checked="checked"
                                                value="0"
                                                type="radio">
                                            </mz-radio-button-container>
                                          
                                            <mz-radio-button-container>
                                              <input mz-radio-button
                                                [label]="'Да'"
                                                id="is_express_delivery-2"
                                                name="is_express_delivery"
                                                formControlName="is_express_delivery"
                                                value="1"
                                                type="radio">
                                            </mz-radio-button-container>
          
                              
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="input-field col s12">
                              <textarea formControlName="text" id="text"  class="materialize-textarea"></textarea>
                              <label for="text">Комментарий</label>
                          </div>
                      </div>

                      <button [disabled]="form.invalid" class="btn waves-effect waves-light" type="submit" name="action">Сохранить
                          <i class="material-icons right">send</i>
                      </button>
                      <button mz-button [flat]="true" mz-modal-close>Отмена</button>
                      
              </div>
          </form>

      
      
      <div class="row">

        <mz-tab class="tabsNew">
            <mz-tab-item  [active]="'true'" [label]="'Comments'" >
                    <div id="#comment-history-c" class="col s12 cont active">
                            <div *ngFor="let cComment of leadComments | event:0" class="history-item">
                                <p>{{cComment.created_at}}</p>
                                <p >{{cComment.text}}</p>
                            </div>
                        </div>
            </mz-tab-item>
            
            <mz-tab-item [label]="'Events'">
                    <div id="#comment-history-e" class="col s12 cont active">
                            <div *ngFor="let cComment of leadComments | event:1" class="history-item">
                                <p>{{cComment.created_at}}</p>
                                <p >{{cComment.text}}</p>
                            </div>
                        </div>
            </mz-tab-item>
  
        </mz-tab>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
  </mz-modal-footer>
</mz-modal>

