<div class="container small-wrap">
  <div class="flex-block content-between items-center header-group">
    <h4>Вход</h4>
  </div>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input name="email"  type="text" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="password"  type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <button class="waves-effect waves-light btn" mz-button >Submit</button>

    </form>
  </div>
</div>

