<div class="container">
  <div class="flex-block content-between items-center header-group">
      <h4>Источники</h4>
      <button class="waves-effect waves-light btn" mz-button (click)="openSourceModal()">Новый источник</button>
  </div>   

  <table class="highlight">
      <thead>
      <tr>
          <th>Заголовок</th>
          <th>Действие</th>
      </tr>
      </thead>

      <tbody *ngIf="sources">
        
      <tr *ngFor="let source of sources">
          <td>{{source.title}}</td>
          <td >
              <a (click)="editSource(source.id)" class="waves-effect waves-light btn amber darken-1" >Редактировать</a>
              <a (click)="deleteSource(source.id)" class="waves-effect waves-light btn red">Удалить</a>
          </td>
      </tr>

      </tbody>
  </table>
</div>
