<div class="dashboard-content" id="index-banner">
    
    <div class="container">
            <div class="flex-block content-between items-center header-group">
                    <button class="waves-effect waves-light btn" mz-button (click)="openSourceModal()">Новый источник</button>
                </div> 
        <div class="row">
            <owl-carousel 
                [options]="customOptions"
                [carouselClasses]="['owl-theme', 'sliding']"
              >
              <div class="item">
                  <h4 class="center-align leads-title">Новые заявки</h4>

                    <div class="filters">
                            <mz-checkbox-container>
                                    <input mz-checkbox
                                      [label]="'Только оформленные'"
                                      id="leadProcess-id"
                                      [(ngModel)]="leadProcess"
                                      filledIn="true"
                                      class="filled-in"
                                      type="checkbox">
                            </mz-checkbox-container>
                            <mz-checkbox-container>
                                    <input mz-checkbox
                                      [label]="'Только курьерская доставка'"
                                      id="leadExpress-id"
                                      [(ngModel)]="leadExpress"
                                      filledIn="true"
                                      class="filled-in"
                                      type="checkbox">
                            </mz-checkbox-container>

                    </div>



                  <mz-card *ngFor="let lead of nLeads | newLead:leadProcess:leadExpress; let i = index"
                        [ngClass]="{'card' : true, 'card-lead' : true, 'blue-grey' : true, 'darken-1' : true, 'white-text' : true, 'green': lead.is_processed, 'blue-grey' : !lead.is_processed}"
                        [horizontal]="true"
                        [hoverable]="true"
                        (click)="openHistory($event, lead, i, nLeads)"
                        >
                        
                        <mz-card-content class="white-text">
                            <p class="card-content__comments">({{lead.count_create}}) <span class="clip">{{lead.lastComment}}</span></p>

                            <a
                                    class="lead-link white-text lighten-3"
                                    [href]="lead.link ? lead.link : 'tel:lead.phone'"
                                    [target]=" lead.link ? '_blanck' : ''">
                                {{ lead.link ? lead.link : lead.phone }}
                            </a>
                            <div class="flex-block content-between items-center">
                                <div class="lead__source">
                                <span class="lead__source-icon">
                                    
                                </span>
                                    <span class="lead__source-title">{{ lead.source_title }}</span>
                                    
                                </div>
                                    
                                <div
                                    class="lead__unit-title"
                                    
                                    [style]="{backgroundColor:lead.unit_color}"
                                >{{ lead.unit_title }}
                                </div>
                            </div>
                        </mz-card-content>
                        
                    </mz-card>
              </div>
              <div class="item">
                  <h4 class="center-align leads-title">В работе</h4>
              </div>
              <div class="item">
                  <h4 class="center-align leads-title">Выполнено</h4>
              </div>
          </owl-carousel>
        </div>
    </div>    

</div>
